.logo {
    transform: translate(-420px, -120px)
     scale(0.6);
     animation: entrada 2s ease 0s 1 normal forwards;
}


@keyframes entrada {
	0% {
		opacity: 0;
		left: 0px;
      
	}

	100% {
		opacity: 1;
		left: 100px;
        
	}
}
.chaquetamorada {
    text-align: center;
    text-shadow: 5px 5px 12px #000000;
    text-transform: uppercase;
  
}